<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="feed-posts">
        <h1>
            Posts
        </h1>
        <% if(locals.user) {%>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Your text here please..." required></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts) {%>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>

    <aside id="friends">
        <h3>Friends</h3>
        <% for(u of all_users) {%>
            <p>
                <i class="fas fa-user-circle user-circle-icon"></i>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </aside>
</div>